* {
padding: 0;
margin: 0;
}

html {
	height: 100%;
}

body { 
	color: #000000;
	background-color: #fff;
	font-size: 10pt;
	font-family: Tahoma,serif;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#desktop {
	height: 93%;
	overflow: hidden;
	background-color: #fff;
}

/*------header------*/
#header {
	background: url('../img/bg.png') repeat-x;
	height: 70px;
	width: 100%;
}

#logo {
	background: url('../img/logo2.png') no-repeat;
	height: 70px;
	width: 147px;
	float: left;
}

#header-mid {
	background: url('../img/header.png') no-repeat;
	margin-left: 10px;
	height: 70px;
	width: 797px;
	float: left;
	z-index: 4;
}

.tabs {
	position: absolute;
	top: 40px;
	float: right;
	margin: 0;
	padding-left: 175px;
	list-style: none;
	right: 20%;
	z-index: 5;
	height: 30px;
	overflow: hidden;
}

.tabs li {
	display: inline;
}

.module-button {
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 7px 15px;
	background: -moz-linear-gradient(
		top,
		#259eea 0%,
		#0969aa);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#259eea),
		to(#0969aa));
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border: 1px solid #075284;
	border-bottom: 0;
	text-shadow:
		0 -1px 0 rgba(31,31,31,0),
		0 1px 1px rgba(10,10,10,1);
    background-color: #1d8ed7;
}

.selected {
	color: #EFF7FD;
	border: 1px solid #075284;
	border-bottom: 0;
	text-shadow:
		0 -1px 0 rgba(31,31,31,0),
		0 1px 1px rgba(10,10,10,1);
	background: -moz-linear-gradient(
		top,
		#0969aa 0%,
		#259eea);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0969aa),
		to(#259eea));
}

/*------windows-------*/
.window {
	position: absolute;
	top:70px;
	z-index: 1;
	border: 1px solid #0969aa;
	background: #fff;
	width: 100%;
}

.handler {
	height:15px;
	cursor: move;
	color: #eee;
	margin: 0;
	padding-left: 10px;
	background: -moz-linear-gradient(
		top,
		#259eea 0%,
		#0969aa);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#259eea),
		to(#0969aa));
    background-color: #1d8ed7;
}

.front {
	z-index: 2;
}

.bt_close {
    background-image: url('../img/cross.gif');
    cursor: pointer;
    width: 15px;
    height: 15px;
    float: right;
}

/*------window-map------*/
#window-map {
    position: absolute;
    top:70px;
    height: 90%;
	z-index: 0;
    border: 1px solid #0969aa;
    min-height: 300px;
    min-width: 300px;
}

#map {
	height: 95%;
	width: 100%;
	min-height: 300px;
	min-width: 300px;
}

/*------window-riverdd------*/
#window-riverdd {
	position: absolute;
	top: 90px;
	left: 70%;
	background: #fff;
	width: 200px;
    height: 260px;
	border: 1px solid #0969aa;
}

#window-riverdd table{
	margin:15px;
}


.window button {
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 3px 7px;
	background: -moz-linear-gradient(
		top,
		#259eea 0%,
		#0969aa);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#259eea),
		to(#0969aa));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #075284;
	border-bottom: 0;
	text-shadow:
		0 -1px 0 rgba(31,31,31,0),
		0 1px 1px rgba(10,10,10,1);
    background-color: #1d8ed7;
}

.window .selected, .window button:active{
	color: #EFF7FD;
	border: 1px solid #075284;
	border-bottom: 0;
	text-shadow:
		0 -1px 0 rgba(31,31,31,0),
		0 1px 1px rgba(10,10,10,1);
	background: -moz-linear-gradient(
		top,
		#0969aa 0%,
		#259eea);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0969aa),
		to(#259eea));
    background-color: #0969aa;
}

.form-buttons {
	margin-top: 15px;
}

#window-riverdd input {
	width: 100px;
}

#riverdd-result {
	font-weight:900;
}

/*------window-wennerblom------*/
#window-wennerblom {
	font-size: 0.9em;
	top: 90px;
	height: 400px;
	width: 500px;
	padding-bottom: 15px;
}

#window-wennerblom .form {
	top: 15px;

	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#window-wennerblom #wb-table {
	overflow: auto;
	height: 330px;
}

#window-wennerblom table {
	border-collapse:collapse;
}

#window-wennerblom td {
	border: 1px solid #aaa;
	padding: 2px;
	vertical-align:top;
}

#window-wennerblom .form-buttons {
	margin-bottom: 15px;
}

#window-wennerblom input{
	border:none;
}

.tabControl {
	width:415px;
}

.tabHolder {
	cursor: pointer;
	width:100%;
}

.tabPanel {
	top:20px;
	left:0;
	width:100%;
	height:220px;
	background-color:#cad7e3;
	border:1px solid #3c597b;
}

.wb-results {
    right: 40%;
    top: 90px;
	width:600px;
	height:500px;
}

.graph {
	width: 580px;
	height: 448px;
    min-width: 400px;
    margin: 0;
}

.width-90 {
	width: 90%;
	left:0;
}

.wb-table table {
    width: 550px;
    margin: 2em;
    border-collapse:collapse;
}

.wb-table table td {
    border: 1px solid black;
    padding: 2px;
}

/*------window-rivers-------*/
#window-rivers {
	width: 15%;
	height: 100%;
	right:0;
}

/*------other-------*/
.leaflet-popup-content {
	overflow-x: hidden;
}

.ui-widget-header {
	border: none;
	background: none;
}

.ui-widget {
	font-size: 0.9em;
}

.ui-corner-all {
	border: none;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

#empty {
    display: none;
    position: relative;
    border: 5px solid #e1e1e1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 80px;
    width: 300px;
    padding: 20px;
    top: 30%;
    left: 40%;
    text-align: center;
}

#empty h1 {
    margin: auto;
    color: #e1e1e1;
    font-size: 2em;
}

#empty p {
    margin-top: 10px;
    color: #e1e1e1;
}
